body{
  background:#f2f2f2;
  font-family:Arial;
}

.login-box{
  max-width:320px;
  margin:80px auto;
  background:#fff;
  padding:20px;
  border-radius:10px;
  text-align:center;
}

input,select,button{
  width:100%;
  padding:12px;
  margin-top:10px;
}
