body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f2f2f2;
}

.topo{
  background:#0d6efd;
  color:#fff;
  padding:12px;
  text-align:center;
}

.topo button{
  margin-top:10px;
  width:100%;
}

.tabs{
  display:flex;
}

.tabs button{
  flex:1;
  padding:12px;
  border:none;
  background:#ddd;
}

.tabs button.active{
  background:#0d6efd;
  color:#fff;
}

section{
  padding:12px;
}

.exercise{
  display:grid;
  grid-template-columns: 30px 1fr 80px;
  gap:10px;
  margin-bottom:10px;
}

input,button{
  padding:10px;
  width:100%;
  margin-top:6px;
}
